<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS Dashboard</title>
    <link href="tailwind.css" rel="stylesheet">
</head>
<body>
<section>
    <div class="body grid grid-cols-4">
        <div class="sidebar col-span-1">
            <h1>SMS Dashboard</h1>
            <div class="sidebar-content">
                <ul>
                    <li>Send SMS</li>
                    <li>Outbox</li>
                </ul>
            </div>
        </div>
        <div class="main-content col-span-3">
            <section class="sms-counter">
                <div>
                    <h1>150</h1>
                    <h3>Total sms</h3>
                </div>

                <div>
                    <h1>150</h1>
                    <h3>Delivered sms</h3>
                </div>

            </section>
        </div>
    </div>

</section>


</body>
</html>